.content {
    background-color: var(--primary-bg);
    margin: 2vh;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 4vh);
    border-radius: 7px;
}

/* ==========================================================================
   Input Fields (Title & Textarea)
   ========================================================================== */
input[type=text], textarea {
    background-color: var(--secondary-bg);
    color: var(--white);
    margin: 1%;
    border: none;
    outline: none;
    resize: none;
    padding-left: 1%;
    border-radius: 5px;
}

input[type=text] {
    margin-bottom: 0;
    font-size: 30px;
    height: 50px;
    flex-shrink: 0;
}

textarea {
    margin-top: 0;
    flex-grow: 1;
}

/* ==========================================================================
   Settings & Controls
   ========================================================================== */

.settings {
    margin: 1%;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

.font-size {
    background-color: var(--secondary-bg);
    color: var(--white);
    border: none;
    text-align: center;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    padding: 0;
}

/* Remove spinner buttons for number input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    opacity: 1;
}
