/* ==========================================================================
   Variables
   ========================================================================== */
:root {
    --primary-bg: #474E68;
    --secondary-bg: #50577A;
    --body-bg: #404258;
    --text-color: #6B728E;
    --white: white;
    --red: red;
    --highlight-brightness: 150%;
    --hover-brightness: 110%;
    --button-active-bg: #ffffff;
    --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ==========================================================================
   Global Styles
   ========================================================================== */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--body-bg);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
